.fl__ {

  &stars-area-star {
    display: inline-block;
    width: 30px;
    height: 30px;

    &:nth-child(n+2) {
      margin-right: -20px
    }
  }


  &landings {
    width: 100%;
    //height: ~"calc(100vh)";
    flex: 1 1 0;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: antiquewhite;
  }

  &landing-space {
    flex: 0 0 15px;
  }

  &counters_group {
    background: hsla(0, 0%, 50%, .4);
    flex: 1 1 0px;
    //height: 80px;
    //margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.consonant-letters {
      background: hsla(240, 100%, 90%, .3);
      border-radius: 8px 0 0 8px;
    }

    &.vowel {
      background: hsla(0, 100%, 90%, .3);
      border-radius: 0 8px 8px 0;
    }
  }

  &counter {
    //font-weight: 600;

    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Calibri, 'Courier New', 'Tahoma';

    &.success {
      color: hsl(120, 100%, 25%);
      font-size: 72px;
    }

    &.fail {
      color: hsl(0, 100%, 40%);
      font-size: 42px;
    }
  }

}


// Animation for counter
@keyframes fl__score-counter-diff-inc-animation {
  from {
    //top: 100%;
    opacity: 0.1;
  }
  50% {
    //top: 0;
    opacity: 1;
  }
  to {
    //top: -100%;
    opacity: 0.1;
  }

}
